.form-container {
    width: 500px;
    height: 620px;
    margin: 0 auto;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.form-title {
    font-weight: 400;
    font-size: 35px;
    color: #2A414F;
    display: flex;
    justify-content: center;
}

.input-group label {
    display: block;
    font-size: 17px;
    margin-left: 5px;
    margin-bottom: 9px;
}

.input-group input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 22px;
    margin-bottom: 20px;
}

.form-submit {
    width: 415px;
    height: 55px;
    margin-top: 24px;
    border-radius: 5px;
    background-color: rgba(255, 153, 0, 0.3);
    ;
    font-size: 21px;
    border: none;
    cursor: pointer;
}

.form-submit:hover {
    background-color: rgba(255, 153, 0, 0.7);
    transition: 0.5s;
}

.link-signup {
    display: flex;
    justify-content: center;
}

.link-signup a {
    color: #FF9900;
    text-decoration: none;
}

.link-signup a:hover {
    text-decoration: underline;
}

.or {
    display: flex;
    justify-content: center;
    margin: 0;
}

.hr {
    width: 300px;
}

.google {
    width: 415px;
    height: 55px;
    margin-top: 29px;
    background-color: white;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    font-size: 17px;
}

.google-container {
    margin-bottom: 43px;
}